[2018-10-25 08:28] Lotafak opened #2 "Css OR does not work"
Hey there!

I was wondering if that's the expected behaviour of the package, but selectors like `.header, .header-2` does not work properly. For my purpose, there's a pretty easy workaround, like i.e.

[code]

but it makes things more complicated in the scenarios when I only want to pass a selector to already existing function.
The version of the package is `0.0.7`

[2018-11-06 13:01] Georgegriff commented on #2
@Lotafak Hey there, sorry for the delayed response, i've been away, interesting, i don't think i'd tested that scenario. T
he uses cases I was trying to solve was in testing where you always wanted to target a specific element i'll have a think and see if that could be supported

[2018-11-06 13:09] Georgegriff commented on #2
@Lotafak Sorry for the delay in response.
I'm struggling to reproduce your problem when i do:
[code]
For example, i recieve an array of all of the elements that match either ".header" or ".header-2"
Would you be able to be more specfic about what is not working properly?
Thanks

[2018-11-06 14:05] Lotafak commented on #2
That's interesting. My exact problem what what is working for you. When I executed
[code]
I received nothing and when I executed those 2 separately I get the expected result. Might it be related to the version of the project that I'm running?

[2018-11-06 20:12] Georgegriff commented on #2
@Lotafak there hasnt been many code changes between the version you're using and the current, maybe just docs and possibly a method name (I forgot to tag the old versions)

I'm looking at the code now and see that there may potentially be an issue with these selectors. These kind of selectors are a little tricky to deal with.
Will update you if i find something.

If you could provide any specific

[2018-11-06 21:16] Georgegriff commented on #2
@Lotafak I have found a bug around having multiple whitespace characters in selectors, though it doesn't seem to affect the selector that you listed in your example.

I've just fixed it in a new version to the package: 0.2.2 There haven't been any breaking changes since the 0.0.7 version you have.
I'm not entirely sure that this will fix your issue though, but if you could give it a go and let me

[2018-11-06 21:31] Lotafak commented on #2
Thank you very much for effort of looking into it! Providing an example might be problematic, as it's not public page, unfortunately.
Also, the selector I provided wasn't the original one, I simplified it for an example purpose. I can provide the original one tho:
[code]
There doesn't seem to be additional spaces in the selector.

I will try to reproduce the issue somewhere, possibly in a public s

[2018-11-06 21:37] Georgegriff commented on #2
@Lotafak No problem, i understand. Thanks for the example, i'll see if i can see anything based on your example

[2018-11-06 21:43] Georgegriff commented on #2
@Lotafak I just reproduced your issue, an oversite in my handling of selectors, i didn't know that
"xxx-orange-move-money-view-layout [slot="content-title"]" and "xxx-orange-move-money-view-layout[slot="content-title"]" are both valid.

I think i should be able to account for this

[2018-11-06 22:00] Lotafak commented on #2
So, basically, the problem is lack of element for the attribute? If that's the case I can easily fix that and be conscious about in the future, although yes, that's valid css selector

[2018-11-06 22:02] Lotafak commented on #2
Oh, I think you misunderstood
[code]
are two different selectors. Basically for the sake of making it work I could add an element like
[code]

[2018-11-06 22:10] Georgegriff commented on #2
Makes sense, you're correct in that the root of the problem is the OR selector.
The issue is:
In order to walk up the shadow roots to find elements i do some best guess splitting of the css selector at logical points. When it comes to a selector that does
.parent .child, .another-element

What is happening in the code is:
Logical split 1:
.parent
Logical split 2:
.child, .another-element

The reas

[2018-11-07 01:10] #2 closed

[2018-11-07 01:12] Georgegriff commented on #2
@Lotafak Released a new version which i believe should fix the issues you were finding 0.2.3
The issue highlighted a couple of other issues with attribute selectors. I believe i'm now handling selector-lists correctly

[2018-11-07 10:56] Lotafak commented on #2
I've put code to testing, I'll see what the result is and if something still not right I'll come back to you.
Thank you for collaboration!

[2018-11-08 21:28] Georgegriff opened #4 "Account for commas in attribute selector values in split regex"
Are there any other places that there can be commas? possibly not

[2018-11-08 21:43] #4 closed

[2018-11-16 00:49] jasongardnerlv opened #5 "Ability to override the document object"
In [Testophobia](https://github.com/testophobia/testophobia), we need the ability to query for elements inside an iframe.

We're not asking _q-s-s-d_ to do the actual queries across iframe boundaries,  but we would probably need to be able to pass into _querySelectorDeep_ some sort of optional __document__ argument, that would override its _document_ references, so we can tell it which document it

[2018-11-18 13:29] Georgegriff commented on #5
Nice idea shouldn't be hard to add, will look into it

[2018-11-18 18:08] #5 closed

[2018-11-18 18:08] Georgegriff commented on #5
@jasongardnerlv Just released a new version with this ehancement

[2018-11-27 11:58] Georgegriff opened #6 "Remove event stream from transitive dependencies"
https://www.theregister.co.uk/2018/11/26/npm_repo_bitcoin_stealer/

Will get on this as soon as i get home.

it's a dev dependency so should only affect people who have contributed features to this package.

@jasongardnerlv  You're the only person i'm aware of that installed this package locally from contribution. Might want to remove node_modules if you still have it checked out, to be sure.

Not

[2018-11-27 20:11] #6 closed

[2018-12-21 10:27] ggriffithsIDBS opened #7 "Direct shadow root children not found from root"
Get a reference to an element with with a shadowRoot.
query this element by using it as the root. Observe that direct shadow root children are not found

[2018-12-21 10:45] #7 closed

[2019-08-30 09:19] TomCaserta opened #8 "When no parent has been found that matches the selector the library throws an error"
Given the following test code:

[code]

The `findMatchingElement` will throw the error `TypeError: parent.matches is not a function`.

This is because it finds the test component matching `.boo` and traverses up to find a parent that matches `.hello-world`. As no element matches this selector it'l continue to traverse up until it hits the document element that has no method named `matches`.

[2019-08-30 09:29] Georgegriff commented on #8
Thanks for the issue and PR I'll take a look as soon as I can :)

[2019-08-30 09:57] #8 closed

[2019-08-30 10:02] Georgegriff commented on #8
New release is available with this fix: https://github.com/Georgegriff/query-selector-shadow-dom/releases/tag/0.3.3 @TomCaserta

[2019-09-13 22:02] mohammedalnuaimi opened #10 "JS code not able to transpile this dependancy"
This repo not working with Jest, it alway throws an error about transpilation, I follow instracution from Jest and Babel, but still throwing the following error

_**Jest encountered an unexpected token**

    This usually means that you are trying to import a file which Jest cannot parse, e.g. it's not plain JavaScript.

    By default, if Jest sees a Babel config, it will use that to transform yo

[2019-09-13 22:08] Georgegriff commented on #10
If you're using it inside jest then that suggests to me that you're running it inside of a node environment. This module is for browser environments. It works with puppeteer because you can inject the script into the browser. I've tested the script using karma and that works fine. I have transpiled the script myself down to es5, using rollup. Perhaps if you take a look at my repo you can see how w

[2019-09-13 22:17] mohammedalnuaimi commented on #10
thanks @Georgegriff for your quick response, not sure what do you mean browser environment?
yes I'm using it with Node you have mentioned that it's for selenuim and pupputeer that's why I've pick it up. so far spent two days trying to get this to work

[2019-09-13 22:37] Georgegriff commented on #10
Could you provide a code sample of how you're trying to include the module to use it with your tests?

When I've used it with selenium and puppeteer I have been injecting the code into the browser, in selenium using the execute javascript commands

There is a transpiled es5 version of the library which is simplest to use to inject into the browser environment.

If I get an idea of what you're tryi

[2019-09-13 22:42] Georgegriff commented on #10
https://github.com/Georgegriff/query-selector-shadow-dom/blob/master/puppeteer-es5.js

Shows how to inject the script into the browser directly in puppeteer. Load script tag which puts the module on the window

[2019-09-13 22:50] mohammedalnuaimi commented on #10
here is an example, I just started using pupputeer,

/* eslint-disable jest/expect-expect */
/* eslint-disable eslint-comments/disable-enable-pair */
import 'core-js';
import { querySelectorAllDeep } from 'query-selector-shadow-dom';
import { join } from 'path';
import { launch } from 'puppeteer';

describe('Login to ACC portal', () => {
  it('Login to acc', async () => {
    const browser = await

[2019-09-13 23:13] Georgegriff commented on #10
So below core-js don't import the library there. You don't need it at all. You see the import script line that is loading the library into the page. Which means that "querySelectorAllDeep" will be available inside all the page.evaluate functions.

page.evalaute runs in the context of the browser which is why the library is available after the `page.addScriptTag` call.

So to fix your issue remove

[2019-09-13 23:15] Georgegriff commented on #10
To use the library you will need to do so inside page.evaluate in puppeteer, it will not work outside of those callbacks. The reason for this is the library needs the browser DOM tree to function. Hopefully this clears things up a bit.

[2019-09-13 23:17] mohammedalnuaimi commented on #10
Cheers @Georgegriff  I got your point, will try to use in the browser context, but would be great to also clarify this in the docs, as some people like me will think that they need to use import to use it :)

[2019-09-13 23:17] Georgegriff commented on #10
To close this issue, when I get time I'll try to flesh out a better example :)

[2019-09-13 23:18] #10 closed

[2019-09-15 20:52] mohammedalnuaimi commented on #10
@Georgegriff  I don't seem to locate the shadow element using the suggest solution, would really appreciate if you could demonstrate to me how you would find it based on the example I sent above?

[2019-09-15 22:24] Georgegriff commented on #10
@mohammedalnuaimi I've added a couple examples to this folder:
https://github.com/Georgegriff/query-selector-shadow-dom/tree/master/examples/puppeteer

https://github.com/Georgegriff/query-selector-shadow-dom/blob/master/examples/puppeteer/typing-to-elements.js - shows typing to an <input> element that is inside of a shadow root

https://github.com/Georgegriff/query-selector-shadow-dom/blob/master

[2019-09-16 11:38] mohammedalnuaimi commented on #10
Thanks @Georgegriff , I actually was not doing waitforfunction, that fixed the issue, cheers

[2019-09-16 11:54] Georgegriff commented on #10
@mohammedalnuaimi Thanks for raising the issue I have much better examples now thanks to you. If find you end up developing some code that would work nicely for some more examples in the repo, prs always welcome

[2019-10-01 10:32] mohammedalnuaimi commented on #10
hey @Georgegriff  I know this issue is closed, but wanted to ask another question, I'm trying to get the innerHTML of the a shadow elements, but not able to do it.
my question here, will the queried Shadow dom return the an element object same as any element that we can hook and get it's innerHTML or InnerText ?

like this?

   const item = await page.evaluateHandle(() => {
      return querySelec

[2019-11-13 15:19] naveenmadd opened #12 "nested shadow-root (open) is not clickable"
Steps to reproduce this issue
using latest puppeteer-core(2.0.0 version)
tried to use the SelectorDeep & SelectorAllDeep from query-selector-shadow-dom, i'm getting the btn.click() is **not visible or HTMLelement** while trying to click the Default button on the pop-up as shown in figure-1 & figure-2 is it's DOM view with nested shadow-root where **<iron-icon> icon="paper-dropdown-menu:arrow-drop-

[2019-11-13 17:01] Georgegriff commented on #12
Can you provide your puppet code?

[2019-11-14 08:05] Georgegriff commented on #12
Can you provide your exact arguments passed to the library `icon="paper-dropdown-menu:arrow-drop-down` on its own is not a valid CSS selector `[icon="paper-dropdown-menu:arrow-drop-down]` would be

[2019-11-14 12:44] naveenmadd commented on #12
const btn = await page.waitForFunction(() => {
    const btn = querySelectorShadowDom.querySelectorDeep("#menuButton > div > paper-input > iron-icon");
    return btn;
});
await btn.click();

[2019-11-15 09:19] thernstig opened #13 "Puppeteer examples not working"
https://github.com/Georgegriff/query-selector-shadow-dom/blob/master/examples/puppeteer/clicking-elements.js

[code]

This does not work due to that `page.waitForFunction` returns a JSHandle and not an ElementHandle. This it should be like this:

[code]

[2019-11-15 09:24] thernstig commented on #13
Same here: https://github.com/Georgegriff/query-selector-shadow-dom/blob/master/examples/puppeteer/typing-to-elements.js

[2019-11-15 09:33] Georgegriff commented on #13
Interesting it was working did puppeteer change their API in 2.x?

[2019-11-15 09:34] thernstig commented on #13
Yes, it seems they did.

[2019-11-15 09:35] thernstig opened #14 "Docs: querySelectorAllDeep, querySelectorDeep"
The first part of the README.md explains that these two functions are exposed: querySelectorAllDeep, querySelectorDeep

It would be great to have a description of both, as I cannot figure out the difference easily.

[2019-11-15 09:37] Georgegriff commented on #12
#13 might explain the issue @naveenmadd

[2019-11-15 09:39] Georgegriff commented on #12
const btn = await page.waitForFunction(() => {

[code]

Might work

[2019-11-15 15:28] naveenmadd commented on #13
even this has compiling issue, need to remove semi-colon in below line

and even i'm getting same issue **Error: Node is either not visible or not an HTMLElement**
![image](https://user-images.githubusercontent.com/57717430/68954622-68050300-0792-11ea-869a-69ef27e0117c.png)

But surprisingly evaluateHandle with JSPath is working for my issue #12
anyway Thanks for the response and support @Georgegr

[2019-11-15 16:30] thernstig commented on #13
Updated original post to remove the extra ; that slipped in there.

[2019-11-18 16:52] Georgegriff commented on #12
Issue resolved in https://github.com/Georgegriff/query-selector-shadow-dom/issues/13

Will update examples where required

[2019-11-18 16:52] #12 closed

[2019-11-18 16:57] Georgegriff commented on #14
Documentation updated here https://github.com/Georgegriff/query-selector-shadow-dom/commit/47a4c0b33b199f070711ed9937ca224258a58e5c#diff-04c6e90faac2675aa89e2176d2eec7d8 @thernstig does this provide enough information?

[2019-11-18 17:11] #13 closed

[2019-11-19 00:00] naveenmadd commented on #14
Seems Deep is working for elements inside shadow-root but not for nested shadow-roots
tried with AllDeep, this returns error as library is not defined(followed the same approach to import library as shown in examples, it's working for Deep but throwing error for AllDeep)
@Georgegriff (my code sample is in #12 )
JSpath is very static for nested shadow-roots, appreciated if I get some help with your

[2019-11-19 06:28] Georgegriff commented on #14
`querySelectorAllDeep` returns an array of matching elements, so if you're using it in the same way as the code sample it won't work, your code sample isn't using that method though, I don't really understand your issue

[2019-11-19 09:21] thernstig commented on #13
@Georgegriff I just also noticed that page.evaluateHandle also returns a JSHandle (and not ElementHandle) and page.evaluate only takes ElementHandle as function arguments: https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluatepagefunction-args

So the examples needs more updates.

[2019-11-19 09:26] thernstig opened #16 "Feature request: waitForSelectorShadowDOM()"
Currently, all test code in Jest looks like this when you want to get an element:

[code]

Since [waitForSelector](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagewaitforselectorselector-options) is probably one of the most common functions, it would be nice if the package could add some shortcut to this like: waitForSelectorShadowDOM that directly can be used like:

[code]

[2019-11-19 09:28] Georgegriff commented on #13
@thernstig are you sure? I ran the examples last night against puppeteer 2 and they worked as expected

[2019-11-19 09:29] Georgegriff commented on #16
I had considered writing a puppeteer wrapper for the library actually, may will get to it

[2019-11-19 09:34] thernstig commented on #14
@Georgegriff Looks great!

[2019-11-19 10:07] thernstig commented on #13
@Georgegriff No you are correct, it seems it should work. I just read the docs from Puppeteer and thought it would not, due to this:

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluatepagefunction-args

But reading the args it actually says:

And since ElementHandle is a child of JSHandle, both works. Sorry for the noise.

[2019-11-19 10:10] thernstig commented on #16
@Georgegriff It would be awesome! 💯

I believe it should be fairly simple, but if done, I think it needs to consider extending jest-puppeteer (as it seems like the most common lib to use) according to https://github.com/smooth-code/jest-puppeteer#custom-setuptestframeworkscriptfile-or-setupfilesafterenv OR https://github.com/smooth-code/jest-puppeteer#extend-puppeteerenvironment OR https://github.

[2019-11-21 19:51] #14 closed

[2020-02-10 01:07] Georgegriff commented on #16
Currently experimenting with adding support for playwright (new project form original puppeteer team - https://github.com/microsoft/playwright) as that has a really nice mechanism for custom selectors that works will .clicks, waitForSelector etc out of the box once custom selector has been defined: https://github.com/Georgegriff/query-selector-shadow-dom/pull/19

[2020-02-16 03:37] alpriya87 opened #22 "How to reference the path for addScriptTag from a different file"
Hi,

At present I have multiple test cases in a single file and i end up defining the library for each case.

Can you please show us some example of how to reference the library from a different file to use it inside the actual code. Probably a function

I'm new to javascript. This would definitely help a lot to most I believe!!

 await this.page.addScriptTag({
     path: path.join(__dirname, '../

[2020-02-16 12:01] Georgegriff commented on #22
I'm a little surprised what you've dine in helper.js doesn't work I'll try to find some time later next week to look at this. I want to make using the this lib with puppeteer better, you may have seen the updates to introduce playwright support which is done I a much nicer way I'd like to do that same with puppeteer if it supported it

[2020-02-16 16:59] alpriya87 commented on #22
Great,  looking forward for the update on this!! will be much useful for my current project.

[2020-02-16 20:12] Georgegriff commented on #22
One thing to check with your code example you are importing path but also have function named path in the same scope, this wont work
![image](https://user-images.githubusercontent.com/9056958/74611951-aa730e80-50f8-11ea-968b-55c64a106ac8.png)

[2020-02-16 20:14] Georgegriff commented on #22
also you re no passing in the page object?

[2020-02-19 14:42] alpriya87 commented on #22
I'm passing it in the page object

[2020-02-24 20:54] alpriya87 commented on #22
Georgegriff, i do not have any other function named path.

I also see that few click and tags are not recognized with deepqueryselector
**for ex:**
below is the complete path
document.querySelector("body > web").shadowRoot.querySelector("search").shadowRoot.querySelector("#search > div.search-text > dn-search").shadowRoot.querySelector("#helpers-1234").shadowRoot.querySelector("div > span")

deep

[2020-02-24 21:26] Georgegriff commented on #22
Happy to look into if there are issues with the library, what are those `web` and `search` elements? Can't be web components they have no dash

[2020-02-24 21:28] Georgegriff commented on #22
Doesn't seem valid that an element of `web` can be a direct child of body which is what your above snippet suggests

[2020-02-24 21:30] Georgegriff commented on #22
Georgegriff, i do not have any other function named path. What I meant was your function is named path and you're using the path node module `path.join...`, this doesn't seem right, please look closer at my screenshot

[2020-03-04 16:04] thernstig opened #23 "Playwright example not similar to Playwright "Custom Selector Engine" docs"
References:
https://github.com/microsoft/playwright/blob/master/docs/api.md#selectorsregistername-script
https://github.com/microsoft/playwright/blob/master/docs/selectors.md#custom-selector-engines

Both show the API like `await selectors.register('tag', createTagNameEngine);` but the docs here show `await playwright.selectors.register(selectorEngine, { name: 'shadow' })`. The inconsistency is ho

[2020-03-04 16:31] thernstig commented on #23
Actually I see that what you have now is correct! See:
https://github.com/microsoft/playwright/blob/v0.11.1/docs/api.md#class-selectors

I assume the above code from master is how it soon will look. I assume it'd be good to keep this issue open to track that change?

[2020-03-04 16:32] Georgegriff commented on #23
Sure keep it open :)

[2020-03-07 19:01] #22 closed

[2020-03-07 19:01] Georgegriff commented on #22
Closing sue to inactivity

[2020-03-10 21:39] alpriya87 opened #24 "Not able to click on a link with deepquery"
Hi Georgegiff,

Here is the jspath and i'm trying to click on the link so that i can navigate to a different page :

document.querySelector("body > portal-web").shadowRoot.querySelector("#sink > details-web").shadowRoot.querySelector("div > app-component-search-page > div > ink-container > ink-card > div:nth-child(2) > div > mat-table > mat-row > mat-cell.ods-text__body--small.component-width-cnam

[2020-03-10 22:24] Georgegriff commented on #24
Hi thanks for the issue this might be a little tricky for me to debug, that jspath is quite complicated.

I would try to see if there is  selectors that do not make use of `>` to see if there is an issue there.
try to make the simplest selector you can to your link. This is good for maintenance as well, do you really want your selector to break if any of those child components change? Probably not

[2020-03-11 15:08] alpriya87 commented on #24
Here is the jspath for this ;
![Screen Shot 2020-03-11 at 10 05 46 AM](https://user-images.githubusercontent.com/60447297/76431880-32f37080-6380-11ea-87e8-7d9f00d8d493.png)

[2020-03-12 09:15] Georgegriff commented on #24
Can you please just try using something simple like `div:nth-child(2) ng-star-inserted  a` for example. Theres no need to create a selector with all of those references to parents.

Also in your prior example you had
`querySelectorDeep(".div > app-component-search-page > div > ink-container > ink-card > div:nth-child(2) > div > mat-table > mat-row > mat-cell.ods-text__body--small.component-width-c

[2020-03-15 02:08] alpriya87 commented on #24
That worked :) this is really helpful!!

[2020-03-15 23:00] #24 closed

[2020-03-17 21:23] alpriya87 opened #25 "Need help with deepquery selector"
Here is the jspath :(Not able to click on the link )

document.querySelector("body > portal-web").shadowRoot.querySelector("#sink > details-web").shadowRoot.querySelector("div > history-page > div > ink-container > ink-card > div:nth-child(2) > div.historypage-items > mat-table > mat-row:nth-child(2) > mat-cell.ods-text__body--normal.component-width-insight.mat-cell.cdk-column-InSight.mat-column-I

[2020-03-17 21:31] alpriya87 opened #26 "Table with multiple rows wanted to find out the length(no) of rows in each page"
How to find out the length of rows:
I have 10 rows in a page each of these have multiple column cells
1. I wanted to find the no of rows in each page programmatically using deepquery selector
2. I have a column that has date, how do i find if they are arranged in descending order from top to bottom using deep query selector

here is the screen for the same :
![Screen Shot 2020-03-17 at 4 26 12 PM]

[2020-03-18 23:52] Georgegriff commented on #25
Hi i'm sorry to hear you're having issues, i will struggle to debug these scenarios to see if there are bugs in the library without reproduction code. I've not seen these issues raised before so it's possible that the css selector your using are not correct. I'm sorry i can't be of more help, all i can advise is to keep your selectors as simple as possible.

[2020-03-18 23:58] Georgegriff commented on #26
1. my guess to find the number of rows would be to use querySelectorAllDeep('mat-row') and then check the .length of the arrow returned.

2. to check this could you do something simple like finding the first row like this https://www.w3schools.com/cssref/sel_first-of-type.asp `mat-row:first-of-type <<insert-date-column-selector>>`
and then get last row like https://www.w3schools.com/cssref/sel_las

[2020-03-18 23:58] #26 closed

[2020-03-24 17:52] alpriya87 opened #28 "Do we have a way to choose an option from drop down ?"
I have list of options and i wanted to choose one of it :

would we be able to do it with deepquery selector ?
If yes, how is that ?

[2020-03-24 18:04] Georgegriff commented on #28
There are many ways in which a drop-down can be implemented, you'd need to be more specific. Are you able to work with the developer that wrote the component they might have some ideas.

For the most part working with shadow Dom CSS selectors with this library and normal CSS selectors is not that different.

[2020-03-24 20:54] alpriya87 commented on #28
Ok, i tried few ways that i read from -
Option 1:
   await this.page.evaluate(() => {
        querySelectorShadowDom.querySelectorDeep("#ink-select option:nth-child(6)").selected = true;
    })
The above chooses the correct selection however, programmatically the results are not displayed. I tried an enter after the above like this :

   await this.page.evaluate(() => {
        querySelectorShadow

[2020-03-24 22:14] alpriya87 commented on #28
here is the screen shot for the same:

I'm trying to choose Released from the option

![Screen Shot 2020-03-24 at 5 10 10 PM](https://user-images.githubusercontent.com/60447297/77481959-cc943680-6df2-11ea-9e8e-004a030ab7a0.png)

[2020-03-27 21:03] alpriya87 commented on #28
Hi,
I'm kind of struck with this not able to choose the value frm drop down:
I tried click example that you have provided in this git location and the below code.

const a = await this.page.evaluateHandle(() => {
querySelectorShadowDom.querySelectorDeep("#ink-select option:nth-child(3)").selected=true;
});

Both doesnt work. Can you please help?
What is happening is that the drop down is choosen w

[2020-03-27 21:04] #25 closed

[2020-03-27 23:28] Georgegriff commented on #28
I'm sorry to hear you're having issues your approach seems correct, maybe this example might give some ideas ( this example is complex  appreciate).

I think you might benefit from using a more high level testing tool than puppeteer, unfortunately shadow Dom support isn't great for most tools yet...

However

I'm working on a more complete testing solution with shadow Dom, it's not ready yet, but

[2020-05-05 16:31] Georgegriff commented on #16
It looks like puppeteer will be adding custom locators similar to playwright, I want to experiment soon.

Thought with playwright now shadow Dom just works woo!

[2020-06-03 17:21] chriscapaci opened #31 "Selectors with whitespace within attribute selector fails to parse properly"
I'm attempting to use a selector that works with querySelector, but doesn't with the querySelectorDeep function in this package.

Stepping through the code, I eventually get to a point where it's trying to use this as the selector:

And fails at the .matches() call in collectAllElementsDeep with:

If I take the whitespace out it works fine. And like I said above, this same selector works in the br

[2020-06-03 17:42] Georgegriff commented on #31
Thanks for the issue I'll try to take a look when I find some time, it looks like you have a work around for now

[2020-06-03 19:24] chriscapaci commented on #31
Yeah, I know what's wrong and can just avoid it. But they're accepted by the non-deep function, so I figured you might want it for your deep function as well. Thanks.

[2020-06-04 12:35] #31 closed

[2020-06-04 12:37] Georgegriff commented on #31
Should be fixed in 0.5.0 just released

[2020-07-12 20:56] jan-molak opened #33 "Should I add support for Protractor?"
Hi @Georgegriff and thanks for your amazing `query-selector-shadow-dom`!

I understand that your motivation behind writing this library was to provide support for Playwright, which now has its own CSS selector engine [inspired by your work](https://github.com/microsoft/playwright/issues/1375#issuecomment-614888459). In light of this, are you planning to continue to maintain this library?

If the a

[2020-07-12 22:41] Georgegriff commented on #33
This library existed before playwright, it's just playwright was the easiest to integrate with recently (until it wasn't needed anymore) But of course, more than happy! Although bare in mind have have zero experience with that test framework. So any examples/background or test cases would be great.

It may also be simpler to derive a new library with this is a dependency, up to you

[2020-07-14 10:14] jan-molak commented on #33
Hi @Georgegriff! Many thanks for merging the PR 👍
Is there anything left to do before we could have the new feature available on NPM?

[2020-07-14 11:50] Georgegriff commented on #33
I'll try to release it today when I get chance

[2020-07-14 14:57] Georgegriff commented on #33
Released in 0.6.0

[2020-07-14 14:57] #33 closed

[2020-07-14 20:24] jan-molak commented on #33
Brilliant, thanks @Georgegriff :shipit:

[2020-08-11 16:52] Georgegriff commented on #16
Closing as i think this is satisfied by custom query handlers which will be coming soon-ish in puppeteer.
I have released experimental support for the feature which can be shown here
https://github.com/Georgegriff/query-selector-shadow-dom/tree/master/examples/puppeteer

[2020-08-11 16:52] #16 closed

[2020-08-11 16:52] Georgegriff commented on #23
Closing as playwright custom selector engine is not really needed anymore, since playwright added their own awesome shadow dom support

[2020-08-11 16:52] #23 closed

[2020-08-11 16:53] Georgegriff commented on #28
Closing due to inactivity

On the puppeteer front there have been some developments, with some new experimental apis:

I have released experimental support for the feature which can be shown here
https://github.com/Georgegriff/query-selector-shadow-dom/tree/master/examples/puppeteer

[2020-08-11 16:53] #28 closed

[2020-10-20 13:01] splmdevslack opened #42 "'querySelectorDeep' is declared but its value is never read.ts(6133)"
I am configuring the "query-selector-shadow-dom"  package in my protractor-TS code,
and I have used querySelectorDeep in one of my function , Still I am getting error mentioned in subject.  can you have a look at it and let me know if its a configuration or a code issue

Posting Function below :

/**
    * Verify Specified id exist in specified view.
    * @returns {webdriver.promise.Promise<any>}

[2020-10-20 14:26] Georgegriff commented on #42
I'm afraid I don't know I don't use either typescript or protractor. @jan-molak contributed protractor support, hopefully they may be able to help

[2020-10-20 14:44] jan-molak commented on #42
Hi @splmdevslack would you mind creating a repo on github with a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) so that I could take a look?

[2020-10-21 05:21] splmdevslack commented on #42
Hi @jan-molak , It was configuration issue from my end (in case of protractor , we don't have to use import , adding plugin in protractor config file resolved the issue ) .

Thanks for the quick response !! this issue can be closed.

still I will try to create repo with working example and post link here for reference

[2020-10-21 06:22] #42 closed

[2021-01-05 16:46] mariusandra opened #47 "Unreachable code path can be reached"
Hey, after upgrading to version 0.8.0 of this library we started getting errors in our code. I traced it back to this commit:

https://github.com/Georgegriff/query-selector-shadow-dom/commit/86fe168fa17fe7f294b883f9afb94ef812e20f3f

Because `collectAllElementsDeep` is also exported, it can be called with various parameters. I was calling `collectAllElementsDeep("", document)` to get and cache all

[2021-01-12 01:49] minig0d opened #48 "Code Cleanup Needed (inconsistent semicolon use)"
Code currently gets mangled during compression due to inconsistent semicolon usage.  I am aware of ASI and typically code compresses fine with it, however something about the inconsistency seems to breaks the compression.

Suggest running through eslint with "rules": { "semi": ["error", "always"]} enabled to catch the 4 or 5 missing semicolons and ensure stability rather than relying on ASI https:

[2021-01-12 01:49] minig0d opened #49 "Code cleanup needed (missing semicolons)"
Code currently gets mangled during compression due to inconsistent semicolon usage.  I am aware of ASI and typically code compresses fine with it, however something about the inconsistency seems to breaks the compression.

Suggest running through eslint with "rules": { "semi": ["error", "always"]} enabled to catch the 4 or 5 missing semicolons and ensure stability rather than relying on ASI https:

[2021-01-12 16:15] Georgegriff commented on #49
Closing as duplicate

[2021-01-12 16:15] Georgegriff commented on #48
I'd happily accept a pr to fix this

[2021-01-12 18:21] minig0d commented on #48
Can I just be lazy and tell you its lines: 31, 59, 88, 94, 95, 98, 99, 172? :)
It also flags "Expected a conditional expression and instead saw an assignment" (https://eslint.org/docs/rules/no-cond-assign) on line 165, which is valid but discouraged.

[2021-02-04 22:00] #48 closed

[2021-02-04 22:00] #49 closed

[2021-02-04 22:10] Georgegriff commented on #47
Sorry for the delay in reply, sorry about the breakage! I've now put the check back in and added a test case :)

[2021-02-04 22:10] #47 closed

[2021-02-09 14:27] davidalvarezr opened #50 "collectAllElementsDeep shouldn't be exported"
Thanks for this amazing library !

I was writing the types for it (I'm using typescript) and I'm about to publish them to the npm @types organisation so that users using typescript can easily use this lib !

in `querySelectorDeep.js` line `158`:

[code]

I find this function a bit weird. According to me, either the function should not be exported, or root should also have a default value of `docum

[2021-02-09 16:38] Georgegriff commented on #50
Hey, yeah so `collectAllElementsDeep` is a new one it, it was contributed i think so that it could be used as a some sort of cache.

having a default of document makes sense to me, so feel free to PR

[2021-02-09 16:40] Georgegriff commented on #50
This feature was contributed in https://github.com/Georgegriff/query-selector-shadow-dom/pull/40 and by @mariusandra they might be able to provide some assistance

[2021-02-09 17:10] davidalvarezr commented on #50
Thanks for the quick reply !

I do not really understand, in the readme, it is written:

And in its PR:

And in the comment of the method:

I do not really understand what this method makes ^^', so it is difficult to provide a correct TS Doc for it:

https://github.com/davidalvarezr/DefinitelyTyped/blob/master/types/query-selector-shadow-dom/index.d.ts

[code]

@mariusandra, do you think the users

[2021-02-09 19:29] Georgegriff commented on #50
Here is where its  used: https://github.com/PostHog/posthog/pull/2856/files

You'll notice in querySelectorDeep deep and querySelectorAllDeep you will notice there is an optional 3 parameter

https://github.com/Georgegriff/query-selector-shadow-dom/blob/bdb29c8c2e004430108e5ffd6cdaa03aa934a017/src/querySelectorDeep.js#L22

its an array which defaults to null

It's used to shortcut this logic here,

[2021-02-09 20:30] davidalvarezr commented on #50
Thanks for the answer !

But if I understand the code correctly, a dev using the library will never fill the 3 parameter in `querySelectorDeep` and `querySelectorAllDeep`, And if so, why would they do this ?

I really do not understand the purpose of this third parameters on the two first functions

[2021-02-09 20:53] Georgegriff commented on #50
I've not used it personally but here is an example https://github.com/PostHog/posthog/blob/f42856178f932ed6d6d9acd443937d5b38f28b2c/frontend/src/toolbar/elements/heatmapLogic.ts#L93

I think it's where they want to run multiple queries one after another but not have to query all Dom nodes each time, which is expensive on large documents

[2021-02-09 21:05] davidalvarezr commented on #50
I see !

so their code:
[code]
is equivalent to :
[code]
?

If so, I don't really understand why they needed it as a parameter.

Thanks  a lot for the code you share, it helps me to understand better !

[2021-02-10 08:43] davidalvarezr commented on #50
I still don't really understand why they use `collectAllElementsDeep('*', document)` in the code example you gave me.

It seems it does the exact same thing as `querySelectorAllDeep('*', document)`

<img width="596" alt="Capture" src="https://user-images.githubusercontent.com/40860276/107485631-502e5180-6b84-11eb-8544-432ea62aaf49.PNG">

[2021-02-10 09:09] davidalvarezr commented on #50
I edited, me definitions, thanks ! Can you review them, so that they can be merges in the npm @types repo ? https://github.com/DefinitelyTyped/DefinitelyTyped/pull/51144/files

Thanks :)

[2021-02-10 09:10] mariusandra commented on #50
@davidalvarezr

`querySelectorAllDeep` runs in two passes: 1) collect all the elements via `collectAllElementsDeep`, 2) select the ones matching the query and returns them

The first step with `collectAllElementsDeep` takes a significant amount of CPU time, thus in case you need to run `querySelectorAllDeep` multiple times in a page (we can run it up to 100 times), it makes sense to cache the resu

[2021-02-17 12:25] jawaadaslam opened #51 "Not working in Protractor. shadowDomCss locator is not being added in protractor."
I have installed the plugin for protractor 7.0.0 . I am not getting the shadowDomCss locator in protractor. Is this supported or not ?

[2021-02-22 14:37] vipin705 commented on #10
hi @Georgegriff ,

i am trying to use this selector but i am seeing the below error

 Query set to use "shadow", but no query handler of that name was found

here is my code

import * as puppeteer from 'puppeteer';
import { Given, Then, When } from 'cucumber';
import { join } from 'path';

let browser: puppeteer.Browser, page: puppeteer.Page;

Given('I load time off component', { timeout: 2 * 5000

[2021-02-22 14:40] Georgegriff commented on #10
Can you create a separate  issue rather than on an unrelated issue please

[2021-02-22 14:43] vipin705 opened #52 "Error: Query set to use "shadow", but no query handler of that name was found"
hi @Georgegriff ,

i am trying to use this selector but i am seeing the below error

Query set to use "shadow", but no query handler of that name was found

here is my code

import * as puppeteer from 'puppeteer';
import { Given, Then, When } from 'cucumber';
import { join } from 'path';

let browser: puppeteer.Browser, page: puppeteer.Page;

Given('I load time off component', { timeout: 2 * 5000

[2021-02-22 14:46] Georgegriff commented on #52
Thanks for the separate issue, it looks like you arent using the library as epxected...

But!

I see you are using puppeteer which means you `dont need this library at all anymore`

I believe the selector is `pierce` not `shadow` for them  so
[code]
You dont need  this bit at all

[code]

[2021-02-22 18:49] vipin705 commented on #52
i tried using that but now i landed on this error.
Error: Node is either not visible or not an HTMLElement

[2021-02-22 19:33] Georgegriff commented on #52
In that case you can try the query handler but in the example you gave you're not using the puppeteer plugin

Please follow the example

https://github.com/Georgegriff/query-selector-shadow-dom/blob/main/examples/puppeteer/clicking-elements.js

[2021-03-30 09:46] Kilian opened #54 "Source order is not preserved when using multiple selectors"
querySelectorAll with multiple selectors returns the elements in source order. So the following HTML:

[code]
Combined with this javascript: `document.querySelectorAll("h1, h2, h3");` will return `[h1, h2, h3, h2, h3]`. The equivalent `querySelectorAllDeep` however returns those listed selector by selector: `[h1, h2, h2, h3, h3]`. That can be quite an important difference. Is that worth fixing (I

[2021-03-31 21:45] #52 closed

[2021-03-31 21:46] Georgegriff commented on #50
Closing due to inactivity

[2021-03-31 21:46] #50 closed

[2021-03-31 21:48] Georgegriff commented on #54
Thanks for the issue, I'll take a look when I get time, with your example is shadow Dom involved at all? In your example it's not clear to me when or if shadow Dom is involved

[2021-04-01 11:46] Kilian commented on #54
This is without shadow Dom involved, though I assume that won't make a difference.

[2021-04-19 10:46] Georgegriff commented on #54
I took a look at this, I think this would be very difficult to fix, given how the library works, as such i've updated the readme with a known limitations block https://github.com/Georgegriff/query-selector-shadow-dom/blob/main/README.md#known-limitations.

I contemplated ways in which to fix this but I think it would be difficult with Shadow DOM, i'd need to keep track of where was in the tree whe

[2021-04-21 08:14] lacell75 opened #56 "Implement a selector with visible text and certain text"
To begin, thank you very much for what you have done in this project and that is fantastic!

And It would be wonderful if you could implement a selector on text or certain text like :

For example, here's a query for class with the text "Open downloads folder":
`querySelectorDeep(".dropdown-item=Open downloads folder");`
or using partial text:
`querySelectorDeep(".dropdown-item*=Open");`

other ex

[2021-04-22 11:34] Tigrao75 opened #57 "Could not find a declaration file for module 'query-selector-shadow-dom/plugins/puppeteer'"
Hi @Georgegriff ,
Sorry to bother you, but I'm facing some problems using your plugin. I tried to figure out the problem myself, but I couldn't.
So, I thought to ask for your help:
I used your example for PUPPETEER for shadow-dom and I getting error in the "require":
const  { QueryHandler } = require("query-selector-shadow-dom/plugins/puppeteer");

I got this error when I hover the mouse in this l

[2021-04-22 11:40] Georgegriff commented on #57
This looks like a typescript issue, I don't believe there are types declares for this plugin, feel free to contribute some if you want, other than that you should be able to ignore the typescript error somehow

As an aside puppeteer has a built in selector named pierce, they don't document it which is a bit annoying, but https://github.com/puppeteer/puppeteer/pull/6509

[2021-04-22 11:42] Georgegriff commented on #57
You could also document the types yourself in your project, someone in webdriverio recently did they for the web driver plugin https://github.com/webdriverio/webdriverio/blob/0535493274b6f3b7ff5d7c5a44731e3d6d8ea461/%40types/query-selector-shadow-dom.d.ts

[2021-04-22 19:17] Georgegriff commented on #56
Hi thanks for the issue, I think this is a little out of the scope of this library, If you find yourself needing to reach for this sort of thing, have you considered using something like playwright? Playwright supports shadow Dom deep queries out of the box

[2021-05-01 07:48] lacell75 commented on #56
Thanks, I have implemented this behavior with webdriver.io but I have a case that does not work: when an element does not exist yet, I don't know what to return in this case. Do you have an idea?

[2021-05-06 08:25] shalev-kaveh opened #58 "Fails to query a selector with special chars"
Hi @Georgegriff,
First of all thanks for sharing your code! I've been using it for a while and it's working well :)

I've come across, however, a corner case -
trying to query a selector in a shadowDOM in [this website](https://developer.servicenow.com/dev.do).
Querying this selector (each element of the array is a new `shadowDom` document)
`["dps-app", "dps-home-unauth", "dps-card > img[slot="ico

[2021-06-03 10:26] thisistaimur opened #63 "Error "cannot use import statement outside a module" with React"
Getting an error when importing the module into a React script. Same works fine in a Node app or plain HTML. Does anyone have a fix?

![Screen Shot 2021-06-03 at 12 23 22](https://user-images.githubusercontent.com/59065240/120629982-aa6e5d80-c466-11eb-9d67-83e7a724cbfa.png)
![Screen Shot 2021-06-03 at 12 23 41](https://user-images.githubusercontent.com/59065240/120630028-b2c69880-c466-11eb-8bf9-70

[2021-06-03 10:35] Georgegriff commented on #63
This is because this module ships as native modules and the React ecoystem is some what legacy in this respect,

I've got a PR to try to address this but i havent had time to test it properly, and would need to be a breaking change.

https://github.com/Georgegriff/query-selector-shadow-dom/pull/53/files

If you want to experiment with this you should be able to change your package.json entry for t

[2021-06-03 19:17] thisistaimur commented on #63
Cheers, will look into it and definitely contribute if I come up with a solution :)

[2021-06-08 10:02] shalev-kaveh commented on #58
Hi @Georgegriff , do you have any lead?

[2021-06-24 20:47] Georgegriff commented on #58
Hey sorry, i've had a lot on at the moment, i will eventuaally get to this, in the mean time im always accepting of pull requests

[2021-06-24 20:47] #56 closed

[2021-06-24 20:48] Georgegriff commented on #51
Hi sory for the delay in getting back to you, i've had a lot on, I havent personally tesed this but if you have a reproduction case i'll take  look. There are  some protractor tests in the repository that could be useful

If this is no longer a problem could you close the issue?

[2021-07-20 06:22] josemadev opened #65 "It can be used with puppeteer-extra?"

[2021-11-03 06:11] smaroof opened #67 "querySelectorDeep is not returning an element"
I am using this,

querySelectorDeep(`[aria-label="Go to series - BxP_Learn_Series-1"]`)

I ma getting error

import { normalizeSelector } from './normalize' in node_modules\query-selector-shadow-dom\src\querySelectorDeep.js:6

Any suggestions?

[2022-01-23 20:20] alpriya87 opened #71 "How do you make sure a radio button is grayed out when the value is not changed ?"
Let's says i have a radio button that is grayed out, the test is to make sure that the button is grayed out. Below doesnt return the value since it is expecting some value from the output.

        // check btn was clicked (this page expected btn to change text of output)
        const outputSpan = await page.$("shadow/.output");
        const text = await page.evaluate((output) => output.innerTex

[2022-03-09 04:24] mcqua007 commented on #54
@Georgegriff It would be really great if there was another function that preserved the order. This is needed for things like focus traps etc... I understand not wanting to make breaking changes that's why making it another function could work. Something like querySelectorAllDeepOrdered.

[2022-03-17 16:40] Georgegriff commented on #63
There isn't I would be open to contributions I started a pr but didn't get around to following it up, not sure when I will next get a chance to investigate https://github.com/Georgegriff/query-selector-shadow-dom/pull/53

[2022-03-17 17:16] JohnHardy commented on #63
Thanks for your time following up with me - I really appreciate it. Sorry, I thought the PR above was fully finished.

[2022-07-11 07:48] christian-bromann opened #77 "Argument of type 'CustomQueryHandler' is not assignable to parameter of type 'CustomQueryHandler'"
With the latest release of puppeteer it seems that there are some type issues, e.g.

[code]

This fails due to:

[code]

[2022-08-20 11:13] FacePalmDev opened #79 "override document.querySelector?"
So I'm trying to make a web component library that uses a shadow DOM.

I wondered if it was possible to override document.querySelector? Perhaps document.querySelector could be cloned to some other function then your code could call the clone. Then document.querySelector could be overridden to call your deep query selectors?

Then the consumer doesn't have to do anything different from what they'r

[2022-08-29 06:13] kazaff commented on #63
Could you tell me the mean of "change your package.json entry"?